1) création d'un utilisateur : 
    - mettre "Nom d'utilisateur" au lieu de username
    - transformer le(s) nom(s) en majiscule
    - transformer le(s) prénom(s) en capitalize ( c-à-d la première lettre de chaque prénom en majuscule) 
    - j'ai mis des lettres dans le champ téléphone et c'est passé: grave faille



 Deux problèmes: 
 
 1) Dans Menus & Articles, pour ajouter des articles à un menu, je dois encore saisir les
   articles comme si je les créais, ce qui n'est pas du tout normal puisque j'ai déjà créé des produits dans
   Produits -> Catalogue. 
   
2) Dans Caisse -> Nouvelle commande pour vendre, la liste n'affiche ni produits ni menu 