
- J'ai 4 commandes TAKEWAY dans la bdd qui ne sont pas payées. Ne devraient-elles pas s'afficher dans encaissement ou bien je en faire
une nouvelle ?


- Le total des ventes n'est pas actualisé ici: http://localhost:4200/admin/global-session. C'est 0 qui est affiché. 
On doit voir le total de toutes les ventes(Qr caisse code, caisses, admin, takeway) de la session active

- Rapport des ventes par table, caissier, takeaway