1) création d'un utilisateur : 
    - mettre "Nom d'utilisateur" au lieu de username
    - transformer le(s) nom(s) en majiscule
    - transformer le(s) prénom(s) en capitalize ( c-à-d la première lettre de chaque prénom en majuscule) 
    - j'ai mis des lettres dans le champ téléphone et c'est passé: grave faille 