
- Problème de réduction à la caisse

- le champ last_login n'est jamais rempli

