- Séparer les commandes bars des commandes resto

- Dans le menu Combo gourmand, il y a quatre produits: Poulet braisé, Burger classique, Champagne rosé, Jus d’ananas frais. Mais quand on commande ce combo, l'affichage à la cuisine n'est pas bonne. Les détails de la commande montre seulement: 1x 🍔 Burger classique. Que ce soit un seul ou plusieurs menus qui sont commandés, le cuisiner doit voir tous les articles de la station CUISINE de la commande. Le problème ne doit pas se poser puisque tous les produits d'une commande se retrouve dans OrderItem.

- Problème de réduction à la caisse

- le champ last_login n'est jamais rempli

