
- Rapport des ventes par table, caissier, takeaway
- Recherche de commande par numéro de facture
- Rapport des produits avec quantité vendu et prix total


